
@font-face {
	font-family: BebasNeueBold; /* Гарнитура шрифта */
	src: url(fonts/BebasNeueBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: 'Exo2Regular';
	src: url(fonts/Exo2Regular/Exo2Regular.ttf);
}

body {
	font-family: 'Exo2Regular', sans-serif;
}

.startingPage-wrapper {
    background: url('https://shableideko.com/wp-content/themes/shableideko/img/coverpage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 94vh;
    margin: 3vh;
}

.startingPage-logo {
	padding-top: 40px;
}

.startingPage-heading {
	margin: 0 auto;
	color: #fff;
}

.startingPage-logo img {
	height: 60px;
	width: 60px;
	display: block;
	margin: 0 auto;
}

.startingPage-content {
	text-align: center;
    margin: 0 auto;
}

.startingPage-mainHeading {
	color: #fff;
	font-size: 110px;
	margin: 0;
	text-transform: uppercase;
}

.startingPage-about {
	margin: 0 0 30px 0;
	color: #fff;
	font-size: 20px;
    font-weight: normal;
}

/*
	Main page styles
*/
.main-header {
	padding-top: 45px;
	height: 100vh;
}

.image-logo {
	max-height: 100px;
	max-width: 100px;
}

.image-about {
	width: 463px;
	height: 463px;
	float: left;
	margin-right: 30px;
}

.main-menu {
	float: right;
	margin-top: 30px;
	font-size: 13px;
}
.inline-list {
    display: inline-block;
	list-style-type: none;
}

.inline-list li {
	float: left;
}

.inline-list li a {
	color: #fff;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.inline-list li:hover a {
	color: rgba(255,255,255,.4);
}

.company-name {
    font-family: 'BebasNeueBold', serif;
	text-transform: uppercase;
	color: #fff;
	font-size: 82px;
	font-weight: 700;
	padding-top: 185px;
	padding-bottom: 50px;
	text-align: center;
	vertical-align: middle;
}

.company-info {
	font-family: 'Exo2Regular', sans-serif;
	font-size: 23px;
	font-weight: normal;
}

.content-wrapper {
	margin: 80px 0;
}

.content-block {
	color: #a3a3a3;
	font-size: 16px;
	font-weight: 300;
}

.content-block a{
	color: #333;
}

.content-block a:hover {
	color: #a3a3a3;
	text-decoration: none;
}

h1 {
	color: #333;
	font-size: 36px;
}

.content-delimiter {
	height: 100vh;
	color: #fff;
	font-size: 82px;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	vertical-align: middle;
}

.content-contact {
	padding: 0 250px;
}

.content-about {
	color: #000;
	text-indent: 1.5em;
	line-height: 24px;
	letter-spacing: 0.5px;
	font-size: 15px;
}

.content-about h1 {
	margin-bottom: 40px;
}

.content-about p {
	margin-top: 25px;
}

label {
	display: block;
}

fieldset {
	border: 0;
	padding: 0;
}

.contact-form {
	margin-top: 75px;
}

.contact-form input {
	background-color: #FAFAFA;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 6px 0 4px;
	box-sizing: border-box;
	width: 100%;
}

.contact-form input:focus {
	background-color: #fff;
	border: 1px solid #ccc;
	outline: none;
}

textarea {
	background-color: #FAFAFA;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 6px 0 4px;
	resize: vertical;
	width: 100%;
}

textarea:focus {
	background-color: #fff;
	border: 1px solid #ccc;
	outline: none;
}

legend {
	color: #333;
	font-size: 22px;
	margin-bottom: 25px;
}

.form-warning {
	color: red;
}

.btn {
	background-color: #272727;
	border: 0;
	color: #fff;
	font-weight: 700;
	padding: 10px 45px;
}

.btn:hover {
	text-decoration: none;
	color: #fff;
	background-color: #525252;
}

.btn:focus {
	text-decoration: none;
	color: #fff;
}

.btn-submit {
	text-transform: uppercase;
	padding: 10px 45px;	
}

.btn-catalog {
	text-transform: uppercase;
	padding: 10px 35px;	
}

.btn-catalog-fixed {
	position: fixed;
	right: 10px;
	bottom: 20px;
	font-size: 15px;
	color: #fff;
	background-color: #F2921D;
	border-radius: 5px;
	padding: 10px 20px;
	text-decoration: none !important;
}

.btn-catalog-fixed:hover {
	color: #fff;
}

.btn-catalog-fixed:focus {
	color: #fff;
}

.form-group {
	margin-bottom: 25px;
}

.form-group-divider {
	display: inline-block;
	width: calc(50% - 3px);
}

label {
	font-size: 13px;
}


.content-product {
	font-size: 12px;
	max-width: 300px;
}

.image-group {
	margin-bottom: 50px;
}

.image-group img {
	max-width: 100%;
	height: auto;
}

.main-footer {
	background-color: #837E7B;
	color: #fff;
	padding-bottom: 50px;
}

.main-footer-wrapper {
	padding-bottom: 50px;
}


h3 {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 300;
}

.vertical-list {
	display: inline-block;
	list-style-type: none;
	font-size: 16px;
	font-style: italic;
	font-weight: 300;
	line-height: 28.8px;
	margin-right: 50px;
	padding: 0;
}


/*Helpers*/

.center-block {
	margin: 0 auto;
	text-align: center;
	width: 50%;
}

.content-delimiter-heading {
    font-family: 'BebasNeueBold', serif;
	text-transform: uppercase;
	line-height: 100vh;
}


.back-to-top {
	color: #a3a3a3;
	position: relative;
	top: -30px;
	background-color: #fff;
	font-size: 13px;
    width: 50px;
    height: 50px; /* as the half of the width */
	border-radius: 50%;
    text-align: center;
	line-height: 15px;
}

.back-to-top a {
	color: inherit;
}

.back-to-top a:hover, .back-to-top a:focus {
	text-decoration: none;
}

.back-to-top i {
	display: block;
	font-size: 25px;
}

.fixed-menu {
	text-transform: uppercase;
	padding-right: 25px;
	list-style: none;
	position: fixed;
	top: 40vh;
	right: 0px;
}

.fixed-menu li {
	cursor: pointer;
	text-align: right;
}

.fixed-menu li a {
	color: #000;
	text-decoration: none;
	opacity: 0;
	transition:opacity 0.2s linear;
}

.fixed-menu li:hover a {
	opacity: 1;
}

.fixed-menu li a:hover{
	opacity: 1;
}

.fixed-menu li:after {
	font-family: 'Lato', sans-serif;
	content: "•";
	font-size: 170%;
}

.catalog-info {
	color: #a3a3a3;
	font-weight: bold;
	font-size: 16px;
}

.catalog-info p {
	margin-bottom: 45px;
}

.contact-info {
	margin: 0 auto;
	text-align: center;
	width: 50%;
	font-size: 20px;
}
.contact-info h1 {
	text-transform: uppercase;
}

.turn-off-scroll {
	overflow: hidden;
	height: 100%;
}