/*BURGER ICON STYLES: START*/

.burger-click-region {
    display: none;
    position: absolute;
    right: 55px;
    cursor: pointer;
    color: #fff;
}

.is-open .burger-menu-txt {
    opacity: 0;
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
}

.burger-menu-piece {
    cursor: pointer;
    display: block;
    position: absolute;
    width: 40px;
    border-top: 6px solid #fff;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 400ms ease-out;
    transition: -webkit-transform 400ms ease-out;
    transition: transform 400ms ease-out;
    transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
}
.burger-menu-piece:nth-child(1) {
    top: 0;
}
.burger-menu-piece:nth-child(2) {
    top: 12px;
    opacity: 1;
    -webkit-transition: opacity 0ms linear 200ms, -webkit-transform 400ms ease-out;
    transition: opacity 0ms linear 200ms, -webkit-transform 400ms ease-out;
    transition: transform 400ms ease-out, opacity 0ms linear 200ms;
    transition: transform 400ms ease-out, opacity 0ms linear 200ms, -webkit-transform 400ms ease-out;
}
.burger-menu-piece:nth-child(3) {
    top: 24px;
}
.active .burger-menu-piece:nth-child(1) {
    -webkit-animation: burger-open-top 400ms ease-out forwards;
    animation: burger-open-top 400ms ease-out forwards;
}
.active .burger-menu-piece:nth-child(2) {
    opacity: 0;
    -webkit-transition: opacity 0ms linear 200ms, -webkit-transform 400ms ease-out;
    transition: opacity 0ms linear 200ms, -webkit-transform 400ms ease-out;
    transition: transform 400ms ease-out, opacity 0ms linear 200ms;
    transition: transform 400ms ease-out, opacity 0ms linear 200ms, -webkit-transform 400ms ease-out;
}
.active .burger-menu-piece:nth-child(3) {
    -webkit-animation: burger-open-bot 400ms ease-out forwards;
    animation: burger-open-bot 400ms ease-out forwards;
}
.closing .burger-menu-piece:nth-child(1) {
    -webkit-animation: burger-close-top 400ms ease-out forwards;
    animation: burger-close-top 400ms ease-out forwards;
}
.closing .burger-menu-piece:nth-child(3) {
    -webkit-animation: burger-close-bot 400ms ease-out forwards;
    animation: burger-close-bot 400ms ease-out forwards;
}

@-webkit-keyframes burger-open-top {
    50% {
        -webkit-transform: translate3d(0, 12px, 0);
        transform: translate3d(0, 12px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 12px, 0) rotate(45deg);
        transform: translate3d(0, 12px, 0) rotate(45deg);
    }
}

@keyframes burger-open-top {
    50% {
        -webkit-transform: translate3d(0, 12px, 0);
        transform: translate3d(0, 12px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 12px, 0) rotate(45deg);
        transform: translate3d(0, 12px, 0) rotate(45deg);
    }
}
@-webkit-keyframes burger-open-bot {
    50% {
        -webkit-transform: translate3d(0, -12px, 0);
        transform: translate3d(0, -12px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -12px, 0) rotate(-45deg);
        transform: translate3d(0, -12px, 0) rotate(-45deg);
    }
}
@keyframes burger-open-bot {
    50% {
        -webkit-transform: translate3d(0, -12px, 0);
        transform: translate3d(0, -12px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -12px, 0) rotate(-45deg);
        transform: translate3d(0, -12px, 0) rotate(-45deg);
    }
}
@-webkit-keyframes burger-close-top {
    0% {
        -webkit-transform: translate3d(0, 12px, 0) rotate(45deg);
        transform: translate3d(0, 12px, 0) rotate(45deg);
    }
    50% {
        -webkit-transform: translate3d(0, 12px, 0) rotate(0deg);
        transform: translate3d(0, 12px, 0) rotate(0deg);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes burger-close-top {
    0% {
        -webkit-transform: translate3d(0, 12px, 0) rotate(45deg);
        transform: translate3d(0, 12px, 0) rotate(45deg);
    }
    50% {
        -webkit-transform: translate3d(0, 12px, 0) rotate(0deg);
        transform: translate3d(0, 12px, 0) rotate(0deg);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes burger-close-bot {
    0% {
        -webkit-transform: translate3d(0, -12px, 0) rotate(-45deg);
        transform: translate3d(0, -12px, 0) rotate(-45deg);
    }
    50% {
        -webkit-transform: translate3d(0, -12px, 0) rotate(0deg);
        transform: translate3d(0, -12px, 0) rotate(0deg);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes burger-close-bot {
    0% {
        -webkit-transform: translate3d(0, -12px, 0) rotate(-45deg);
        transform: translate3d(0, -12px, 0) rotate(-45deg);
    }
    50% {
        -webkit-transform: translate3d(0, -12px, 0) rotate(0deg);
        transform: translate3d(0, -12px, 0) rotate(0deg);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
/*BURGER ICON STYLES: END*/


/*BURGER MENU STYLES*/

.burger-menu {
    cursor: pointer;
    color: #fff;
    right: -99999px;
    top: 0;
    width: 75%;
    position: fixed;
    background: rgba(60,52,47,1);
    height: 100%;
}

body {
    /*right: 75%;*/
    position: relative;
}

.burger-language {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.burger-language li {
    display: block;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgba(50,42,38,1);
}

.burger-language li a {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding: 25px;
}