/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
	.content-contact {
		padding: 0;
	}

	.fixed-menu {
		display: none;
	}

	.contact-info {
		width: auto;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {	

	.content-delimiter-heading {
		font-size: 50px;
	}

	.main-footer-wrapper div {
		text-align: center;
	}

	.vertical-list {
		margin: 0 auto;
		font-size: 22px;
	}

	.btn-catalog-fixed {
		display: none;
	}
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    body {
        position: relative;
    }

    .burger-click-region {
        display: block;
    }

	.content-wrapper {
		margin: 50px 0;
	}

	.form-group-divider {
		display: block;
		width: 100%;
	}

	.col-xs-6 {
		width: 100%;
	}

	.content-product {
		margin: 0 auto;
	}

	.input-firstName {
		margin-bottom: 25px;
	}

	.btn-submit {
		width: 100%;
	}

	.main-menu {
		display: none;
	}

	.logo-wrapper {
		width: 100% !important;
	}

	.main-header {
        padding-top: 30px;
    }

    .label-name {
        display: none;
    }


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}